* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

h1, h3 {
    text-shadow: 5px 5px 5px lightgray;
    color: dodgerblue;
}

.adresse {
    font-weight: normal;
    justify-content: left;
}

p.adresse {
    color: gray;
}

.lieferadresse {
    margin-top: 100px;
}

body {
    padding: 16px;
    display: flex;
    min-height: 100vh;
    min-width: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.rechnungsadresse {
    margin-left: auto;
    width: 150px;
    margin-bottom: 15px;
}

.ort {
    margin-bottom: 20px;
}

.copyright {
    font-size: small;
}

.trust {
    font-size: small;
    line-height: 15px;
    margin-bottom: 15px;
}

.anhang {
    margin-bottom: 15px;
}

.anhang ol {
    padding-left: 19px;
}

img.test {
    border: 1px solid black;
    box-shadow: 10px 10px 15px silver;
}

p > a {
    color: dodgerblue;
    font-weight: bold;
    font-size: large;
}

h3 > a {
    color: #4fa8ff;
    font-weight: bold;
}

h2 > a {
    color: dodgerblue;
    font-weight: bold;
}

a:visited, a:link, a:hover, a:disabled {
    display: block;
    text-decoration: none;
}

/* Lists */
ul[role=menu] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    list-style-type: none;
    margin-bottom: 20px;

}


ul[role=menu] > li > a {
    color: #f1f1f1;
    line-height: 2;
    font-weight: bold;
    font-size: large;
    background-color: #4fa8ff;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

ul[role=menu] > li > a:hover {
    box-shadow: darkgray 5px 5px 5px;
}

/* end Lists */

/* Table */
table {
    background-color: #e8e8e8;
    width: 550px;
    height: 160px;
    border-spacing: 13px;
    box-shadow: 1px 1px 2px darkgray;
    border-radius: 4px;
    margin-bottom: 60px;
}

table > caption {
    margin-bottom: 10px;
    text-align: left;
}

table thead th:nth-child(1) {
    text-align: center;
}

table thead th:nth-child(2) {
    text-align: left;
}

table thead th:nth-child(3) {
    text-align: right;
}

table td:nth-child(odd) {
    text-align: right;
}

table tbody td:nth-child(even) {
    text-align: left;
}

table tfoot td:nth-child(2) {
    text-align: right;
}

tfoot {
    font-weight: bold;
    text-align: left;
    height: 5px;
}

table tbody tr:nth-child(odd) td {
    background-color: #84b1e8;
}
/* end Table */


@media (max-width: 481px) {
    .rechnungsadresse {margin-left: 0px;}
}


